email.host={{ .Env.MAIL_HOST }}
email.timeout=10000
email.username={{ .Env.MAIL_USERNAME }}
email.password={{ .Env.MAIL_PASSWORD }}
email.from={{ .Env.MAIL_FROM }}
email.replyTo={{ .Env.MAIL_REPLYTO }}
email.mdsUrl={{ .Env.MDS_URL }}
